.jumbotron {
margin: 50px;
border-radius: 5px;

}

.all {
background-color: #addfad;
min-height: 100%;
background-size: cover;

}

.descrip {
margin: 10px 50px 10px 50px;
font-size: 16px;
}

#maintitle {
color: white;
font-size: 70px;
font-weight = bold;
font-family = Geneva;

}

#descrip {

font-size: 16px;

}

